* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body { 
    background-color: #FFFCFB;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
/**********************************************/
/**** HEADER **********************************/

header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

header h2 {
    font-weight: 400;
    padding: 25px 35px;
}

/**********************************************/
/**** START CONTAINER  ************************/

.start-container,
.quiz-container {
/*     background: grey; */
    width: 700px;
    height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-container {
    display: none;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.intro .intro-title,
.quiz-container h1 {
    padding: 25px 30px;
} 
.intro .intro-text {
    padding: 25px 30px;
    line-height: 38px;
    font-size: 20px;
} 

/**********************************************/
/**** START BUTTON ****************************/

.start-button{
    padding: 25px;
}

#start {
    font-size: 25px;
    font-weight: 550;
    padding: 12px 30px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

#start:hover {
    background-color: #88D9EC;
}

/**********************************************/
/**** QUIZ CONTAINER  *************************/

.quiz-container h1 {


}

.answers {
    display: flex;
    flex-direction: column;
}

.answers button {
    font-size: 25px;
    font-weight: 400;
    padding: 12px 30px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    margin: 10px;
}