* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body { 
    background-color: #FFFCFB;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
/**********************************************/
/**** HEADER **********************************/

header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

header h2 {
/*     background-color: coral; */
    font-weight: 400;
    padding: 25px 35px;
}

header #timer {
    background-color: lightblue;
    font-weight: 400;
    width: 190px;
    padding: 20px 25px;
    border-radius: 5px;
    margin: 25px 25px;
    text-align: left;
}

#highscores {
    background-color:#FFFCFB;
    padding: 20px 25px;
    margin: 25px 25px;
}

#highscores:hover {
    color: coral;
    cursor: pointer;
}


/**********************************************/
/**** START CONTAINER  ************************/

.start-container {
/*     background: grey; */
    width: 700px;
    height: calc(100vh - 180px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.intro .intro-title,
.quiz-container h1 {
    padding: 25px 30px;
} 
.intro .intro-text {
    padding: 25px 30px;
    line-height: 38px;
    font-size: 20px;
} 

/**********************************************/
/**** START BUTTON ****************************/

.start-button{
    padding: 25px;
}

#start {
    font-size: 25px;
    font-weight: 550;
    padding: 12px 30px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

#start:hover {
    background-color: #88D9EC;
}

/**********************************************/
/**** QUIZ CONTAINER  *************************/

.quiz-container{
/*     background: grey; */
    width: 700px;
    height: calc(100vh - 220px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.quiz-container .result {
    margin: 12px;
    padding: 0px 30px;
}

/**********************************************/
/**** QUIZ BUTTONS ****************************/

.quiz-container .answers {
/*     background-color: chocolate */;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 10px 30px;
}

.answers button {
    font-size: 25px;
    font-weight: 400;
    padding: 12px 30px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    margin: 10px;
    text-align: start;
}

.option:hover {
    border: 2px solid black;
    padding: 11px 30px;
}

/**********************************************/
/**** END CONTAINER ****************************/

.end-container{
/*     background: grey; */
    width: 700px;
    height: calc(100vh - 320px);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hide-end-container {
    display: none;
}

.end-container .heading {
/*     background-color: khaki; */
    padding: 25px 80px;
    line-height: 38px;
    font-size: 40px;
    border-bottom: 1px solid black;
    width: 600px;
    text-align: center;
} 

.end-container .message {
/*     background-color: cornflowerblue; */
    width: inherit;
    padding: 30px 120px 25px 120px;
    margin-top: 20px;
    line-height: 23px;
    font-size: 34px;
} 

.submit-score {
/*     background-color: lightblue; */
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 118px;
    justify-content: left;
    width: inherit;
}

.submit-score p {
    padding: 5px;
    font-size: 24px;
    color: coral;
    margin: 20px 0px 30px 0px;
}

form {
/*     background-color: coral; */
    display: flex;
    flex-direction: row;
}

form #name {
    margin-left: 7px;
    padding: 8px 15px;
    width: 330px;
    font-size: 22px;
}

form #submit-btn {
    margin-left: 35px;
    padding: 8px 15px;
    font-size: 22px;
    background-color: coral;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

form #submit-btn:hover {
    background-color: lightseagreen;
}